apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: traefik-dashboard-ingress
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  tls:
    - hosts:
        - {{ .Values.hosts.traefik }}
      secretName: tls-secret
  rules:
    - host: {{ .Values.hosts.traefik }}
      http:
        paths:
          - path: '/'
            pathType: Prefix
            backend:
              service:
                name: traefik
                port:
                  number: 8080
